* {
  box-sizing: border-box;
}

body {
    text-align: center;
    background-color: black;
    color: white;
}

nav {
  justify-content: space-between;
  width: 100%;
  display: flex;
  padding: 50px;
}

@media screen and (max-width: 1000px) {
  nav {
    display: none;
  }
}

.titles {
  text-align: center;
  max-width: 960px;
}

@media screen and (max-width: 1000px) {
  .titles {
    width: 100%;
  }
}

.logo {
  width: 200px;
  height: 100px;
  object-fit: contain;
}

.container {
  width: 100%;
  height: 96%;
  padding: 2%, 0%, 2%, 0%;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 960px;
  padding: 50px, 0px, 50px, 0px;
}

.testimonial-container {
  background-color: white;
  color: #000000;
  padding: 60px, 0px, 60px, 0px;
}

h1 {
    font-family: neue-haas-grotesk-display, sans-serif;
    font: 700;
    font-size: 85px;
    line-height: 80px;
    margin: 35px;
}


h2 {
    font-family: neue-haas-grotesk-display, sans-serif;
    font: 600;
    font-size: 65px;
    margin: 5px;
}

h3{
  font-family: neue-haas-unica, sans-serif;
  font: 300;
  font-size: 30px;
  margin: 15px;
}

p {
    font-family: neue-haas-unica, sans-serif;
    font: 300;
    margin: 5px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 20px;
  text-align: left;
  font-family: neue-haas-unica, sans-serif;
  font: 300;
  margin: 0px;
}

.pricing-button {
  appearance: none;
  background-color: transparent;
  border: 1px solid #1A1A1A;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-family: neue-haas-unica, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 10px;
  min-height: 2rem;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 90%;
  will-change: transform;
}

.pricing-button:disabled {
  pointer-events: none;
}

.pricing-button:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.pricing-button:active {
  box-shadow: none;
  transform: translateY(0);
}

.pricing-container {
  margin: 0 auto;
  padding: 0 auto;
  justify-content: center;
  align-items: center;
  display: inline-block;
}

.pricing-flex {
  display: flex;
  flex-direction: row column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  gap: 10px;
}

.card {
  background-color: white;
  color: black;
  width: 300px;
  height: 500px;
  justify-content: center;
  margin: 15px;
  padding: 25px;
  }